<!doctype html>
<html lang="en">
	<head>
		<meta charset=utf-8>
		<title>p5.js template</title>
		<link type="text/css" rel="stylesheet" href="../defaults.css"></link>
		<link type="text/css" rel="stylesheet" href="index.css"></link>
		<script src="/libraries/p5.js"></script>
	</head>
	<body>

		<!-- add controls -->
		<script src="index.js"></script>
	</body>
</html>


<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>p5 template</title>
		<link type="text/css" rel="stylesheet" href="../defaults.css"/>
		<link type="text/css" rel="stylesheet" href="index.css"/>
		<script src="/libraries/p5.js"></script>
		<script src="/libraries/svg.js"></script>
	</head>
	<body>
		<div id="left-panel" class="float">
			<input id="vec" type=""></input>
			<input id="vec" type="button">test</input>
		</div>
		<div id="right-panel" class="float"></div>
		<div id="top-panel" class="float"></div>
		<div id="bottom-panel" class="float"></div>
		<div id="container-sketch"></div>
		<script src="index.js"></script>
	</body>
</html>
